/* variable */
:root {
  // 調色盤
  --color-brand: #aa0601;
  --color-brand-half: #ad07014d;
  --color-brand-dark: #650300;
  --color-background: #FBF2F2;
  --color-main-text: #000000;
  --color-main-text-20: #00000033;
  --color-white-text: #FFFFFF;
  --color-gray-text: #707070;

  // 文字管理
  --font-size-form-label: 16px;
}