/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   zi xian ver.20241009
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* base */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: solid 1px; */
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: opacity 0.5s;
}

a:hover:not(.logo) {
  color: inherit;
  opacity: 0.7;
}

/* 我的設定 */
body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.5;
  position: relative;

  color: #650300;
  background-color: #FFFFFF;
}

/* variable */
:root {
  --color-brand: #aa0601;
  --color-brand-half: #ad07014d;
  --color-brand-dark: #650300;
  --color-brown: #5F3E2D;
  --color-wood: #B75929;
  --color-background: #FBF2F2;
  --color-main-text: #000000;
  --color-main-text-80: #212529;
  --color-main-text-20: #00000033;
  --color-white-text: #FFFFFF;
  --color-gray-text: #707070;

  --font-size-form-label: 16px;
}

/* navbar */
.header {
  color: var(--color-white-text);
  background-color: var(--color-brand);
  padding: 16px 0;
  width: 100%;
  position: relative;
  z-index: 10;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  width: 80px;
  height: 48px;
  overflow: hidden;
  margin: 0 32px;
}

.nav-items {
  display: flex;
  font-size: 20px;
}

.nav-item a {
  padding: 0 32px;
}

/* navbar-rwd */
@media (max-width: 768px) {
  .header {
    padding: 16px 0 0 0;
  }

  .header-container {
    flex-direction: column;
  }

  .logo {
    margin: 16px 12px;
  }

  .nav-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .nav-item {
    width: 50%;
    text-align: center;
  }

  .nav-item a {
    display: block;
    width: 100%;
    padding: 12px 0;
    border: 1px solid #fff;
  }
}

/* container  */
.container-all {
  margin: 96px 0 80px 0;
  padding: 0 32px;
}

/* title  */
.title {
  color: var(--color-main-text);
  font-size: 48px;
  font-weight: bold;
  border-left: 8px solid var(--color-brand);
  padding-left: 16px;
}

/* selector  */
.selector {
  display: flex;
  margin: 33px 0 41px 0;
}

.select {
  color: var(--color-main-text);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  white-space: nowrap;
}

/* button  */
.btn {
  font-size: 18px;
  border-radius: 0;
}

.dropdown-toggle::after {
  margin: 0 7px 0 263px;
}

.btn-secondary {
  color: var(--color-gray-text);
  background-color: var(--color-white-text);
  border: 1px solid var(--color-main-text-20);
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background-color: var(--color-white-text);
  color: var(--color-gray-text);
}

.dropdown-menu {
  min-width: 22.7em;
}

.dropdown-item:active {
  background-color: var(--color-gray-text);
}

/* stores  */
.stores-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.store {
  display: flex;
  flex-direction: column;
  width: 31.45%;
  /* 調整 flex 基礎大小 */
  border: 1px solid var(--color-main-text-20);
  overflow: hidden;
  /* 防止圖片溢出 */
}

.store-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* 保持圖片比例並填滿容器 */
}

.store-name {
  color: var(--color-main-text-80);
  font-size: 24px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-main-text-20);
  padding: 8px 24px;
}

.store-info-container {
  display: flex;
  flex-direction: column;
  padding: 16px 24px 16px 24px;
}

.store-info {
  color: var(--color-main-text-80);
  font-size: 20px;
  display: flex;
  align-items: start;
  margin-bottom: 8px;
}

.material-symbols-outlined{
  margin-right: 11px;
}

.store-detail {
  color: var(--color-white-text);
  background-color: var(--color-main-text);
  font-size: 19px;
  padding: 16px 0;
  text-align: center;
}

a:hover:not(.logo) {
  color: var(--color-white-text)
}



/* footer-container  */
.footer-container {
  background-color: var(--color-brand);
  color: var(--color-white-text);
  padding-top: 48px;
  padding-bottom: 32px;
}

.footer-info {
  margin: 0 32px;
}

.info-1 {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px white;
}

footer .nav-items {
  display: flex;
}

footer .nav-item a {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-white-text);
  padding: 0 48px 0 0;
}

.address {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
}

.address-item {
  font-size: 36px;
}

.address-item i {
  margin-right: 22px;
}

.info-1-SNS {
  display: flex;
  gap: 32px;
}

.info-1-SNS img,
.info-1-SNS i {
  width: 48px;
}

.info-2 {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.info-2-policy {
  font-weight: 300;
  display: flex;
  gap: 48px;
}